@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,600,800&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 46.25em) {
    html {
      font-size: 70%; } }

body {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Baloo Paaji 2", cursive, sans-serif;
  color: #530089;
  background-color: pri1;
  line-height: 1.2; }
  @media only screen and (min-width: 46.25em) {
    body {
      background: #ff6700; } }

.budget-container {
  position: relative;
  background: linear-gradient(to bottom right, #530089, #29003a);
  height: 100vh; }
  @media only screen and (min-width: 46.25em) {
    .budget-container {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
      width: 45rem;
      margin: auto; } }

.top-img {
  width: 100%; }
  @media only screen and (min-width: 46.25em) {
    .top-img {
      width: 100%; } }

.header {
  color: white;
  padding: 0 2.5rem;
  height: 29vh; }
  @media only screen and (min-width: 46.25em) {
    .header {
      padding: 0 4rem;
      height: auto; } }
  .header__balance {
    font-weight: 800;
    padding: 2rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.1rem; }
    .header__balance--value {
      font-size: 4rem;
      font-weight: 300; }
  .header__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 0 2rem; }
    @media only screen and (min-width: 46.25em) {
      .header__account {
        padding: 0 4rem 1rem 4rem; } }
    .header__account--income {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .header__account--outcome {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .header__account--outcome-total {
      color: #ff6700; }

.budget-dashboard {
  position: relative;
  background-color: white;
  border-top-left-radius: 2.7rem;
  border-top-right-radius: 2.7rem;
  box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.25);
  height: 59vh; }
  @media only screen and (min-width: 46.25em) {
    .budget-dashboard {
      min-height: 50rem; } }
  .budget-dashboard__title {
    font-weight: 800;
    font-size: 2.8rem;
    padding: 3rem 0 2rem 2.5rem; }
    @media only screen and (min-width: 46.25em) {
      .budget-dashboard__title {
        padding-left: 4rem;
        font-size: 3.5rem; } }
  .budget-dashboard__toggle {
    display: flex;
    justify-content: space-between;
    width: 65%;
    font-weight: 300;
    padding: 0 0 1.2rem 2.5rem;
    cursor: pointer; }
    @media only screen and (min-width: 46.25em) {
      .budget-dashboard__toggle {
        padding-left: 4rem; } }
    .budget-dashboard__toggle--tab1 {
      opacity: 0.4; }
    .budget-dashboard__toggle--tab2 {
      opacity: 0.4; }
    .budget-dashboard__toggle--tab3 {
      opacity: 0.4; }

.active {
  opacity: 1;
  font-weight: 800; }

.hide {
  display: none; }

.income-list {
  min-height: 42rem; }

.income__input {
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  box-shadow: 0 -0.7rem 0.7rem rgba(0, 0, 0, 0.15);
  height: 8rem; }
  @media only screen and (min-width: 46.25em) {
    .income__input {
      position: absolute;
      width: 100%;
      height: 7rem; } }
  .income__input > * {
    height: 4.5rem;
    color: #530089; }
    .income__input > *:nth-child(1), .income__input > *:nth-child(2) {
      margin-left: 0.3rem;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      font-weight: 600;
      outline: none; }
      .income__input > *:nth-child(1):nth-child(1), .income__input > *:nth-child(2):nth-child(1) {
        padding-left: 2.5rem;
        width: 70%; }
      .income__input > *:nth-child(1):nth-child(2), .income__input > *:nth-child(2):nth-child(2) {
        width: 30%; }
      .income__input > *:nth-child(1)::placeholder, .income__input > *:nth-child(2)::placeholder {
        color: #ff6700;
        font-weight: 500;
        letter-spacing: 0.07rem;
        opacity: 0.6; }
  .income__input--add-btn {
    margin-right: 2.5rem;
    cursor: pointer;
    align-self: stretch;
    height: 100%;
    display: flex;
    align-items: center; }

.expense__input {
  background-color: white;
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  box-shadow: 0 -0.7rem 0.7rem rgba(0, 0, 0, 0.15);
  height: 8rem; }
  @media only screen and (min-width: 46.25em) {
    .expense__input {
      position: absolute;
      width: 100%;
      height: 7rem; } }
  .expense__input > * {
    height: 4.5rem;
    color: #530089; }
    .expense__input > *:nth-child(1), .expense__input > *:nth-child(2) {
      margin-left: 0.3rem;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      font-weight: 600;
      outline: none; }
      .expense__input > *:nth-child(1):nth-child(1), .expense__input > *:nth-child(2):nth-child(1) {
        padding-left: 2.5rem;
        width: 70%; }
      .expense__input > *:nth-child(1):nth-child(2), .expense__input > *:nth-child(2):nth-child(2) {
        width: 30%; }
      .expense__input > *:nth-child(1)::placeholder, .expense__input > *:nth-child(2)::placeholder {
        color: #ff6700;
        font-weight: 500;
        letter-spacing: 0.07rem;
        opacity: 0.6; }
  .expense__input--add-btn {
    margin-right: 2.5rem;
    cursor: pointer;
    align-self: stretch;
    height: 100%;
    display: flex;
    align-items: center; }

.entry {
  padding: 0.5rem 2.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  flex: 1; }
  @media only screen and (min-width: 46.25em) {
    .entry {
      padding: 1rem 4rem; } }

ul.list {
  height: 28rem;
  overflow-x: auto; }

.budget-dashboard #all ul.list li #edit {
  visibility: hidden; }

.budget-dashboard ul.list li.expense {
  color: #ff6700; }

.expense {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.income {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.all {
  display: flex;
  align-items: center;
  justify-content: space-between; }

#edit {
  width: 3rem;
  height: 3rem;
  background-image: url(../img/edit.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }

#delete {
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(../img/bin.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
  cursor: pointer; }
  @media only screen and (min-width: 46.25em) {
    #delete {
      margin-right: 4rem; } }
