@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,600,800&display=swap");

$pri: #530089;
$pri1: #29003a;
$sec: #ff6700;

$shade: 0 1rem 3rem rgba(0, 0, 0, 0.3);
$shade-up-light: 0 -0.7rem 0.7rem rgba(0, 0, 0, 0.15);
$shade-up-heavy: 0 -1rem 2rem rgba(0, 0, 0, 0.25);

// mixins

@mixin respond($breakpoint) {
  @if $breakpoint == phone-large {
    @media only screen and (min-width: 46.25em) {
      @content;
    } // 740px
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(phone-large) {
    font-size: 70%;
  }
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Baloo Paaji 2", cursive, sans-serif;
  color: $pri;
  background-color: pri1;
  line-height: 1.2;

  @include respond(phone-large) {
    margin: auto 25%;
    background: $sec;
  }
}
