.budget-container {
  position: relative;
  background: linear-gradient(to bottom right, $pri, $pri1);
  min-height: 100vh;

  @include respond(phone-large) {
    box-shadow: $shade;
  }
}
.top-img {
  margin-bottom: -1rem;
}
.header {
  color: white;
  padding: 0 2.5rem;

  @include respond(phone-large) {
    padding-left: 4rem;
  }

  &__balance {
    font-weight: 800;
    padding: 2rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;

    &--value {
      font-size: 4rem;
      font-weight: 300;
    }
  }

  &__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    font-size: 1.6rem;

    @include respond(phone-large) {
      padding: 0 4rem 1rem 4rem;
    }

    &--income {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--outcome {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--outcome-total {
      color: $sec;
    }
  }
}

.budget-dashboard {
  position: relative;
  background-color: white;
  border-top-left-radius: 2.7rem;
  border-top-right-radius: 2.7rem;
  box-shadow: $shade-up;
  height: 58vh;

  &__title {
    font-weight: 800;
    font-size: 2.4rem;
    padding: 2rem 0 1rem 2.5rem;

    @include respond(phone-large) {
      padding-left: 4rem;
    }
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    width: 65%;
    font-weight: 300;
    padding-left: 2.5rem;
    cursor: pointer;

    @include respond(phone-large) {
      padding-left: 4rem;
    }

    &--tab1 {
      opacity: 0.4;
    }

    &--tab2 {
      opacity: 0.4;
    }

    &--tab3 {
      opacity: 0.4;
    }
  }
}

.active {
  opacity: 1;
  font-weight: 800;
}

.hide {
  display: none;
}

.income-list {
  min-height: 42rem;
}

//INPUT & ADD BTN

.income__input {
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  box-shadow: $shade-up;
  height: 8rem;

  @include respond(phone-large) {
    position: absolute;
    width: 100%;
  }

  & > * {
    height: 4.5rem;
    color: $pri;

    &:nth-child(1),
    &:nth-child(2) {
      margin-left: 0.3rem;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      font-weight: 600;
      outline: none;

      &:nth-child(1) {
        padding-left: 2.5rem;
        width: 70%;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &::placeholder {
        color: $sec;
        font-weight: 500;
        letter-spacing: 0.07rem;
        opacity: 0.8;
      }
    }
  }
  &--add-btn {
    margin-right: 2.5rem;
    cursor: pointer;
  }
}

.expense__input {
  background-color: white;
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  box-shadow: $shade-up;
  height: 8rem;

  @include respond(phone-large) {
    position: absolute;
    width: 100%;
  }

  & > * {
    height: 4.5rem;
    color: $pri;

    &:nth-child(1),
    &:nth-child(2) {
      margin-left: 0.3rem;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      font-weight: 600;
      outline: none;

      &:nth-child(1) {
        padding-left: 2.5rem;
        width: 70%;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &::placeholder {
        color: $sec;
        font-weight: 500;
        letter-spacing: 0.07rem;
        opacity: 0.6;
      }
    }
  }
  &--add-btn {
    margin-right: 2.5rem;
    cursor: pointer;
  }
}

.entry {
  padding: 1rem 2.5rem;
  color: $sec;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  flex: 1;
}

.expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.income {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#edit {
  width: 3rem;
  height: 3rem;
  background-image: url(../img/edit.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#delete {
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(../img/bin.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
  cursor: pointer;
}
